*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.pika_loader{
    height: 50px;
    width: 50px;
}
html{
    scroll-behavior: smooth;
}
header{
    background: #ffe28a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .menu ul{
        display: flex;
        list-style: none;
    font-size: 23px;
}
.menu ul li{
    margin: 10px;
    font-weight: bold;
    padding: 6px 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #0032bc;
}
}

.principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    background: #ffe28a;
    .side{
        display: flex;
        height: 250px;
        width: 35%;
        flex-direction: column;
        align-items: center;
        font-size : 20px;
        p{
            margin: 10px;
            font-weight: bold;
            padding: 6px 20px;
        }
        span{
            color: red;
            
        }
        img{
            height: 150px;
        width: 150px;
    }
    
}
.side2{
    
    img{
        height: 300px;
        width: 400px
    }
}
}

.acerca{
    background-color:#0032bc ;
    padding: 70px 0;
    h3{
        color: #ffe29a;
        text-align: center;
        margin: 0;
        font-size: 45px;
    }
    p{
        color: #ffffff;
        text-align:center;
        font-size:  18px;
        padding: 15px 0;
        
    }
    .items
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 70PX;
    }
    
    .info{
        width: 250px;
        text-align: center;
    }
    
}



footer{
    height: 350px;
    width: 100%;
    background-image: url(../img/fondo_usuario.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .git{
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 300px;
    }
    a{
        font-style: none;
        color: #000;
        text-align: center;
        
    }
}


.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe29a;
    
    
}
.container{
    background-image: url("../img/fondo-Cards.png");
    background-position: 0px 370px ;
    border-radius: 20px;
    height: 300px;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    h2{
        font-size: 23px;
        text-align: center;
        width: fit-content;
        
        
        
    }
    
    .Nom_Img{
        display: flex;
        flex-direction: row-reverse;
        height: 150px;
        
        img{
            height: 80px;
            width: 80px;
            
        }
        .clase{
            height: 25px;
            width: 25px;
        }
        
        
    }
    .Prec_btn{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 130px;
        width: 200px;
        
        h3{
            font-size: 15px;
            
        }
        .btnAgregar{
            height: 35px;
            width: 150px;
            font-size: 12px;
           border-radius:  20px;
           border: 1px solid #ffe28a;
           background-color: #ffffff;
           
           
           
        }
        .btnAgregar:hover{
         border-radius: 20px;
         
         cursor: pointer;
         background-color: #ffe28a;
         color: #000;

        }
        
    }
}
.cards{
   padding: 5px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    justify-content: space-evenly;
    text-align: center;
    
    color:  black;
    
    
    background-size: 200px;
    border-radius: 25px;
    
    
    
}
.carritoimg{
    height: 25px;
    width: 25px;
    align-content: center;
}
.carrito{
    height: auto;
    width: 100%;
    background-color: #ffe29a;
    display: flex;
    flex-direction: column;
    text-align: center;
    .titulo{
        align-items: center;
        font-size: 20px;
    }
    table{
        padding: 25px;
        height: 300px;
        
        background-color: #ffe29a;
    }
    .lista-carrito{
        width: 90%;
        
    } 
   
    .botones{
        background-color: #ffe29a;
        height: 80px;
        width: auto;
        .BtnLimpiar, .BTNComprar {
            height: 30px;
            border: none;
            border-radius: 25px;
            color: #000;
            width: 100px;

        }
            .BtnLimpiar:hover , .BTNComprar:hover{
                border-radius: 20px;
                
                cursor: pointer;
                background-color: #ffe28a;
                border: 2px solid black;
                color: #000;
            }

    }
    
    
}


